*

!.gitignore
!.vimrc
!.zshrc
!.config
!.config/fish
!.config/fish/config.fish
!.config/compton.conf
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/zathura
!.config/zathura/zathurarc
!scripts
!scripts/mdopen.sh
!scripts/vimcompile.sh
!scripts/pdf.sh
!scripts/i3-setmonitors.sh
!scripts/drun.sh
!.i3
!.i3/_config
!.xinitrc
