*

!.Xresources
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/compton.conf
!.config/fish
!.config/fish/config.fish
!.config/kitty
!.config/kitty/kitty.conf
!.config/zathura
!.config/zathura/zathurarc
!.gitignore
!.i3
!.i3/_config
!.vimrc
!.xinitrc
!.zshrc
!scripts
!scripts/drun
!scripts/i3-setmonitors.sh
!scripts/mdopen.sh
!scripts/mk
!scripts/pdf.sh
!scripts/vimcompile.sh

