*

!.Xresources
!.abcde.conf
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/picom.conf
!.config/fish
!.config/fish/config.fish
!.config/kitty
!.config/kitty/kitty.conf
!.config/kitty/theme.conf
!.config/nvim
!.config/nvim/init.vim
!.config/zathura
!.config/zathura/zathurarc
!.dotinstall.sh
!.gitignore
!.i3
!.i3/_config
!.vimrc
!.xinitrc
!.zshrc
!scripts
!scripts/*
