! special
*.foreground:   #e7f0ff
*.background:   #1e2127
*.cursorColor:  #e7f0ff

! black
*.color0:       #1e2127
*.color8:       #46494f

! red
*.color1:       #be5046
*.color9:       #e06c75

! green
*.color2:       #98c379
*.color10:      #c0eba1

! yellow
*.color3:       #d19a66
*.color11:      #e5c07b

! blue
*.color4:       #61afef
*.color12:      #71bfff

! magenta
*.color5:       #c678dd
*.color13:      #e89aff

! cyan
*.color6:       #56b6c2
*.color14:      #7edeea

! white
*.color7:       #abb2bf
*.color15:      #f9f8f5

